.inputWrapper {
}

.input {
  padding: 17px;
  border-radius: 6px;
  width: 100%;
  font-size: 20px;
}

.formWrapper {
  padding: 30px 60px;
}

.authCardWrapper {
  display: grid;
  grid-template-columns: 1.15fr 1fr;
}
