.inputWrapper {
  margin-bottom: 12px;
}

.input {
  padding: 10px;
  border-radius: 6px;
  width: 100%;
  font-size: 15px;
  background-color: transparent;
  border: 1px solid #fff;
  outline: none;
  color: #fff;
}

.inputLabel {
  color: #fff;
  font-size: 15px;
}

.inputLabelWrapper {
  margin-bottom: 8px;
}

.input:focus {
  border: 1px solid rgb(96, 198, 248);
}

.formWrapper {
  padding: 30px 60px;
}

.authCardWrapper {
  display: grid;
  grid-template-columns: 1.15fr 1fr;
}
