.caption {
  color: white;
  font-size: 32px;
  margin-bottom: 10px;
}
.content {
  color: white;
  font-size: 16px;
  margin-bottom: 40px;
}

.capWrapper {
  margin-top: 70px;
}

.link {
  color: #fc5a5a;
  font-size: 18px;
  padding: 10px;
}

.linksWrapper {
  display: flex;
  gap: 10px;
}
